* {
    margin: 0;
    padding: 0;
    font-family: 'Roobert', Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/home-background.webp);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

nav :hover {
    color: #1E1C1C;
    transition-duration: 0.4s;

}


nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
}

.row {
    padding-top: 231px;
    display: flex;
    height: 88%;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    color: #FFFFFF;
    font-size: 100px;
}

p {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 15px;
    padding: 10px;
    letter-spacing: 0.7px;
}

button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #FFFFFF;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 3px;
}

button:hover {
    cursor: pointer;
    background-color: #1E1C1C;
    color: #FFFFFF;
    transition-duration: 0.4s;
}

.cards-container {
    padding-left: 670px;

    display: flex;

}

.card-link {
    color: inherit;
    text-decoration: none;
}

.card {
    margin: 50px 20px 0;
    background-color: #FFFFFF;
    width: 217px;
    height: 260px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px;
    transition: 0.5s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.card-image {
    width: 170px;
    height: 170px;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card-text {
    color: #1B1F23;
    font-size: 19px;
    margin-top: 1px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

@media screen and (min-width: 992px) {
    .desktop-cards-container {
        margin-top: -250px;
    }
}

@media (max-width: 768px) {

    .row {
        padding-top: 0px;
    }

    .cards-container {
        padding-left: 0px;
        justify-content: center;
        margin-top: 20px;
        display: flex;
    }

    .card {
        width: 130px;
        height: 160px;
        border-radius: 10px;
        padding: 15px 25px;
        box-sizing: border-box;
        margin: 10px;
    }

    .card-image {
        width: 120px;
        height: 120px;
    }

    .card-text {
        font-size: 13px;
    }

    button {
        width: 140px;
    }

    h1 {
        font-size: 60px;
        padding-top: 40px;
        padding-bottom: 5px;
    }


    .col {
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .navbar {
        padding-top: 10px;
        height: auto;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        display: inline-block;
        margin: 10px;
    }
}
